header {
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 0;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    max-height: 95px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
}

header ul li {
    list-style: none;
    padding-left: 10px;
    padding-right: 5px;
    color: #0d3280;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
}

header ul li:hover {
    color: #051e51;
    transition: all 0.2s;
}

header ul li.bleu {
    background: #0d3280;
    border: 2px solid;
    color: white;
    padding: 8px;
    margin-left: 10px;
    transition: all 0.2s;
}

header ul li.bleu:hover {
    background: transparent;
    color: #0d3280;
    transition: all 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}