<div class="outil-recherche-container">
    <div class="rechercher">
        <h2>Découvrez le score de fragilité numérique de votre commune</h2>
        <p>Saisissez ci-dessous le nom de votre commune et découvrez son score de fragilité numérique.</p>
        <input type="text" placeholder="La Rochelle, Aytré, Corignac..."/>
        <button>Lancer l'analyse</button>
    </div>
    <!--
    <div class="resultat-vide">
        <img src="assets/search.png" class="search-icon"/>
        <p>Le résultat s'affichera ici !</p>
    </div>!-->
    <div class="resultat">
        <div class="reference">
            <p class="ref">Point de référence Région :</p>
            <div class="scores">
                <div class="score-container">
                    <p class="score">100</p>
                    <p class="dimension">Accès à l'information</p>
                </div>
                <div class="score-container">
                    <p class="score">100</p>
                    <p class="dimension">Accès aux interfaces numériques</p>
                </div>
                <div class="score-container">
                    <p class="score">100</p>
                    <p class="dimension">Capacité d'usage des interfaces numériques</p>
                </div>
                <div class="score-container">
                    <p class="score">100</p>
                    <p class="dimension">Compétences administratives</p>
                </div>
            </div>
        </div>
        <div class="reference">
            <p class="ref">Point de référence Département :</p>
            <div class="scores">
                <div class="score-container">
                    <p class="score">100</p>
                    <p class="dimension">Accès à l'information</p>
                </div>
                <div class="score-container">
                    <p class="score">100</p>
                    <p class="dimension">Accès aux interfaces numériques</p>
                </div>
                <div class="score-container">
                    <p class="score">100</p>
                    <p class="dimension">Capacité d'usage des interfaces numériques</p>
                </div>
                <div class="score-container">
                    <p class="score">100</p>
                    <p class="dimension">Compétences administratives</p>
                </div>
            </div>
        </div>
    </div>
</div>
