.indicateurs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indicateurs-container .indicateur {
    padding: 20px;
    background: rgba(13, 50, 128, 0.94);
    color: white;
    margin: 4px;
    padding-bottom: 5px;
    font-size: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.indicateurs-container .indicateur img {
    width: 60px;
}

.indicateurs-container .indicateur:first-child {
    margin-left: 0;
}

.indicateurs-container .indicateur:last-child {
    margin-right: 0;
}

p.bold {
    font-weight: bold;
    margin-bottom: 5px;
}

p.analyse {
    margin-top: 0;
    margin-bottom: 0;
}